:root{
    --discord-black: #2c2f33;
    --discord-black2: #23272a;
    --discord-blue: #7289da;
    --discord-white: #ffffff;
}
*{
    margin: 0;
}
*:focus{
    outline: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--discord-black);
}
header{
    background-color: azure;
    margin-bottom: 50px;
}
nav{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: var(--discord-blue);
}
.title{
    font-size: 30px;
    color: var(--discord-white);
}
nav h1{
    color: var(--discord-white);
    font-size: 50px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info{
    text-align: center;
    border: none;
    background: none;
    color: var(--discord-white);
    width: 140px;
    height: 25px;
    padding: 5px;
    font-size: 15px;
    margin: 0px 15px;
    border-bottom: 1px solid var(--discord-white);
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.fas{
    color: var(--discord-white);
}
.user-info::placeholder,
.user-info:focus{
    color: var(--discord-white);
}
.user-info:focus{
    opacity: 1;
}
.user-login input:last-child,
.user-opt a input{
    background-color: var(--discord-black2);
    color: var(--discord-blue);
    width: 90px;
    height: 35px;
    padding: 5px;
    margin-right: 10px;
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.user-login input:last-child:hover,
.user-opt a input:hover{
    background-color: var(--discord-white);
    color: var(--discord-blue);
}
main{
    display: flex;
    justify-content: space-evenly;
}
.content{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--discord-black2);
    border: 1px solid var(--discord-blue);
    color: var(--discord-white);
}
.comment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment h1{
    align-self: center;
}
.comment ul{
    margin: 0px 30px;
}
.comment ul li{
    margin-bottom: 30px;
}
.bd-link{
    color: var(--discord-white);
}
.comment ul{
    list-style: none;
    padding-left: 0;
}
.comment h1{
    margin-bottom: 30px;
}
.profile img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}