:root{
    --discord-black: #2c2f33;
    --discord-black2: #23272a;
    --discord-blue: #7289da;
    --discord-white: #ffffff;
}
*{
    background-color: var(--discord-black);
}
body{
    background-color: var(--discord-black);
}
header{
    padding: 0;
}
h1{
    font-size: 50px;
}
#title{
    font-size: 80px;
}
nav{
    background-color: var(--discord-blue);
    justify-content: space-evenly;
    margin-bottom: 0;
}
.nav-opt{
    color: var(--discord-black2);
    background-color: var(--discord-blue);
    color: var(--discord-white);
    font-size: 20px;
}
main{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--discord-white)
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    justify-content: flex-start;
}
.description{
    font-size: 20px;
    width: 70vw;
    padding: 20px 0;
    border-top: 1px solid var(--discord-blue);
}
.description:first-child{
    border-top: none;
}
.inv-bot{
    margin: 40px 0px 20px 0px;
    padding: 15px 60px;
    border-radius: 50px;
    font-size: 25px;
    color: var(--discord-white);
    background-color: var(--discord-blue);
    transition: border-radius 0.7s ease-out, color 0.5s ease-in, background-color 0.6s ease-out, border 0.5s ease;
}
.inv-bot:hover{
    border-radius: 0;
    color: var(--discord-blue);
    background-color: var(--discord-black2);
    border: 1px solid var(--discord-blue);
}
footer{
    display: flex;
    justify-content: space-between;
}
footer span{
    color: var(--discord-white);
}
a, a:hover{
    text-decoration: none;
}   
.content div{
    margin-bottom: 60px;
}