#no-mobile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    z-index: 99;
    top:0;
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    visibility: hidden;
}

@media screen and (min-width:645px){
    #no-mobile{
        visibility: visible;
    }
    body{
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
}